{% set title = "transports" %}


{% extends "main.tpl" %} {% block content %}

{%include "components/header.html" %}

<section class="p-t-50">
  <div class="myContainer">
    <h1 class="m-b-30">Title</h1>
    <div class="row">
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/tours-to-bukhara.jpg" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Self drive tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/22" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/active-t.jfif" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Active tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/22" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/family-t.jfif" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Family tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#!"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/20" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/wild-t.jfif" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Wildlife tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#!"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/20" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/bus-t.jfif" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Bus tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#!"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/20" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 m-b-30">
        <div class="card">
          <div class="image">
            <img src="../../images/jpg/study-t.jfif" />
          </div>
          <div class="details">
            <div class="center">
              <h1>Study tours<br><span>Lorem ipsum</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <ul>
                <li><a href="#!"><img src="http://picsum.photos/21" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/20" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/23" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/24" alt=""></a></li>
                <li><a href="#!"><img src="http://picsum.photos/25" alt=""></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include "components/footer.html" %}

{%endblock %}